@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Teko:wght@300&display=swap');

body{
    background-color: rgb(132, 246, 132);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, rgb(90, 183, 90), rgb(0, 60, 0));
    margin: auto;
    box-shadow: 10px 10px 10px black;
}

header>h1{
    text-align: center;
    color: white;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    text-shadow: 2px 2px 3px black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    
}

header>p{
    text-align: center;
    margin: 10px auto 30px auto;
    color:white;
    width: 400px;
    text-shadow: 2px 2px 3px black;
    
}

nav{
    font-weight: bold;
    padding: 5px 20px;
    text-shadow: 2px 2px 3px black;

}

nav>a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

nav>a:hover{
    color: rgb(197, 232, 0);
    background-color: green;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

main{
    background-color: white;
    width: 50%;
    padding: 10px 15px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.483)

}

main>h1{
    color: rgb(0, 70, 0);
    margin: auto;
    font-family: 'Handjet', cursive;
}

main>h2{
    color: rgb(6, 146, 25);
    font-family: 'Handjet', cursive;
    background-image: linear-gradient(to right, rgb(191, 241, 191), rgba(228, 228, 228, 0.071));
    padding: 0px 10px;
    margin: 0px;
}

main>p , main>section>p{
    margin: 10px auto;
    text-indent: 30px;
    text-align: justify;
}

main>img{
    width: 100%;
}

main>picture>img{
    width: 100%;
    margin: auto;
}

main>p>span{
    color: green;
    font-weight: bold;
}

main>p>a , main>section>p>a{
    color: green;
    text-decoration: none;
    font-weight: bold;
}

main>p>a::after , main>section>p>a::after{
    content: '🔗';
}

main>iframe{
    border: 5px solid green;
}

main>section{
    background-color: rgb(187, 246, 187);
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.286);
}

main>section>ul{
    display: inline-block;
    margin: auto;
}

main>section>p#tituloSection{
    background-color: rgb(25, 177, 76);
    margin: 10px -10px 10px -10px;
    text-indent: 0px;
    padding: 8px 10px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-weight: bold;
}

footer{
    padding: 5px;
    margin: 15px auto 0px auto;
    text-align: center;
    background-color: green;
    color: white;
    font-style: italic;
    font-size: 0.8em;
}

footer>span{
    font-weight: bold;
}

